@import "../../../../assets/styles/variables.scss";

.navbar {
    width: 100%;
    border-bottom: 2px solid $primary;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0px 5px 5px 5px;
}

#laser_btn {
    background: none;
    border: none;
    color: rgb(141, 137, 137);
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: 10px 20px;
    
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 7px;
        left: 50%;
        background-color: $yellow;
        transition: all 0.3s ease;
        box-shadow: 0 0 6px $yellow;
        border-radius: 100px;
        transform: translateX(-50%);
    }

    &:focus::after,
    &:hover::after {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }
}

.navbar_text1,
.navbar_text2 {
    color: $dimedPrimary;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
