<header class="header">
    <div class="logos">
        <img src="../../../../assets/img/png-clipart-logo-file-format-graphics-logo-twitter-hd-angle-logo.png" alt="twiter logo">
        <img src="../../../../assets/img/png-transparent-reddit-logo-computer-icons-reddit-logo-smiley-internet-forum.png" alt="reddit logo">
        <img src="../../../../assets/img/gratis-png-logo-de-instagram-logo-iconos-de-computadora-logo-de-instagram-thumbnail.png" alt="instagram logo">
    </div>
    <div class="title">
    <img src="../../../../assets/img/sw_logo_stacked_2x-52b4f6d33087_7ef430af (1).png" alt="logo" class="header_img">

    </div>
    <div class="login">
    <button (click)="login()">login

    </button>
    <button (click)="logout()">Logout

    </button>
    <button (click)="register()">register

    </button>
    </div>
   
</header>   

