<div class="container1">
    @if(films && films.length > 0){
          @for(film of allFilms; track $index){
        <div class="cart">
                <img [src]="imagenImp($index)" alt="img films" (error)="imgError()" class="cart_img">
            <div class="cart_body text1">
                <h3>{{film.title}}</h3>
                <p>Episode:{{film.episode_id}}</p>
            </div>
        </div>
    }  
    }@else {
        
        <div class="sinArchivos">
            <h2 class="text">
                {{this.sinFilm}}
            </h2>
            
        </div>
    }

</div>
