@import "../../../../assets/styles/variables.scss";




#laser_btn{
    background: none;
    border: none;
    color: rgb(141, 137, 137);
    cursor: pointer;
    position: relative;
}
#laser_btn::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 6px;
    bottom: -13px; 
    left: 50%; 
    background-color: $yellow; 
    transition: all 0.3s ease;
    box-shadow: 0 0 10px $yellow;
    border-radius: 100px;
}

#laser_btn:focus::after {
    width: 100%; 
    left: 0; 
}


.navbar{
    width: 100%;
    border-bottom: 2px solid $primary;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 5px 5px;
    

    &_text1{
        color: $dimedPrimary;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 10px;
       
    }
    &_text2{
        color: $dimedPrimary;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
}
