@import "../../../../assets/styles/variables.scss";




#button{
    background: none;
    border: none;
    color: rgb(141, 137, 137);
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
}


.navbar{
    width: 100%;
    border-bottom: 2px solid $primary;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 5px 5px;
    

    &_text1{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 10px;
       
    }
    &_text2{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
}
