@import'//star_wars/src/assets/styles/variables.scss';

.container{
    display: flex;
    text-align: center;
    
}
.cart_body h3{
    margin: 2px;
    margin-top: 5px;
}
.cart_body p{
    text-align: center;
    margin: 4px;

}